$color-primary: #FFC4C4;
$color-secondary: #FFE7BF;
$color-secondary-darkxl: #A10035;
$color-secondary-darkl: #FF869E;
$color-white: #FEFBF6;
$color-black: #3D3C42;

$desktop: 1279px;
$tablet: 767px;
$mobile: 320px;