$color-primary: #FEFBF6;
$color-secondary: #A6D1E6;
$color-precard: rgb(173, 206, 173);
$color-card: #7F5283;
$color-grey: #A6D1E6;
$color-white: #FEFBF6;
$color-black: #3D3C42;

$desktop: 1279px;
$tablet: 767px;
$mobile: 320px;