.header {
  font-size: 40px;
}

.goods {
  padding: 100px 20px;
  display: flex;
  justify-content: space-around;
}

.good {
  background-color: pink;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filter-item {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
  border-radius: 10px;
  border: 0px;
}