.header {
  font-size: 40px;
}

.goods {
  padding: 60px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.good {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: pink;
  font-size: 1.6rem;
}

.good-img {
  width: auto;
}

.good-info {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.2rem;
}

.good-info__item {
  list-style-type: none;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.4rem;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.filter-item {
  position: relative;
  min-width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
  border-radius: 10px;
  border: 0px;

  &:hover {
    cursor: pointer;
  }

  &.active {
    opacity: 0.5;
  }

  &.active:after {
    border: solid rgb(255, 255, 255);
    border-width: 0 4px 4px 0;
    content: "";
    display: block;
    height: 10px;
    left: -5px;
    position: absolute;
    top: -7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 6px;
  }
}

.search {
  background-color: $color-secondary;
  border: 2px solid black;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.7rem 1.4rem;
  color: black;
}

input::-webkit-search-cancel-button {
  filter: brightness(0) saturate(100%);
  background-color: black;
}

.sorting {
  margin-top: 10px;
  background-color: $color-secondary;
  border: 2px solid black;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.7rem 1.4rem;
  color: black;
}
